body {
 background-color: #333300;
 color: #FFFFFF;
} 
}
h1 {
 color: #FFFF33;
 text-align: center;
 font: italic 200% fantasy;
}
ul {
 background-color: #FFFF33;
 color: #333300;
 font: bold 100% fantasy;
 list-style: none;  
 text-align: center;
 border: 3px groove #FFFF33;
}
p {
 color: #FFFFFF;
 font: bold 150% fantasy;
 text-align: center;
}


img {
max-height: 100%;
max-width: 100%;
} 
